.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #282c34;
    color: white;
  }
  
  .navbar-logo h1 {
    margin: 0;
  }
  
  .navbar-search input {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .navbar-moon {
    font-size: 1.5rem;
    cursor: pointer;
  }
  